*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #F1F4F7;
}

header{
    height: 8vh;
    background-color: #022B3A;
    border-bottom: 1px #1B404E solid;
    padding: 1em 8vw;
    display: flex;
    position: sticky;
    right: 0;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    #logoContainer img{
        width: 7vw;
        min-width: 80px;
        /* Para hacer el logo blanco (el original es azul) */
        filter: brightness(0) invert(1);}
    ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    }
    a{
        color: white;
        text-decoration: none;
        margin: 1.5vw;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .active{
        font-weight: bolder;
    }
    a:hover{
        color: #307B98;
    }
    button{
        border: none;
        background-color: #053C55;
        color: white;
        font-weight: bold;
        height: 38px;
        width: 150px;
        border-radius: 12px;
        cursor: pointer;
        font-size: 1em;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    button:hover{
        background-color: #022B3A;
    }
    #login{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
    }
}

main{
    #banner{

        background: radial-gradient(48% 120% at 0% 0%, #317D9B 0%, rgba(5, 60, 85, 0) 100%), #022B3A;
        height: 55vh;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: row;
            div.border{
                margin-left: 5%;
            }
            img{
                width: 80%;
                min-width: 340px;
                border-radius: 23px;
                height: auto;
            }
        #textbanner{
            margin-left: 3%;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            color: white;
            h1{
                font-size: 2.4em;
            }
            p{
                font-size: 20px;
            }
            h1,p,button{
                margin: 1.5rem;
            }
            button{
                border: none;
                background-color: #317D9B;
                color: white;
                font-weight: bold;
                height: 38px;
                width: 150px;
                border-radius: 12px;
                cursor: pointer;
                transition: background-color 0.3s ease, color 0.3s ease;
            }
            button:hover{
                background-color: #025064;
            }
        }
    }
}

#features{
    background-color: #F1F4F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7em;
    height: auto;
    h2{
        font-size: 2em;
        margin-top: 3em;
    }
    p{
        margin-top: 1em;
        margin-bottom: 3em;
        text-align: center;
    }

    #featuresWrapper{
   
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        align-items: stretch;

        .feature{
            padding: 1.3vw;
            background-color: white;
            border-radius: 22px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(0, 0, 0, 0.05);
            width: 30vw;
            height: auto;
            p{
                text-align: left;
                margin: 10px 0;
            }
            h3{
                margin: 10px 0;
            }
        }

        img{
            height: 50px;
        }
    }
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    height: 8vh;
    border-top: solid #d1d3d8 2px;
    background-color: #F1F4F7;
    a{
        text-decoration: none;
        color: black;
        padding: 0 0 0 2em;
    }
    p{
        margin-right: 2em;
    }
}
/* features */
#featuresoverview{
    display: flex;
    flex-direction: column;
    align-items: center;

    #featuresTitle{
        text-align: center;
        margin-top: 3em;
        h1{
            padding-bottom: 0.3em;
            font-size: 2.5em;
        }
    }
    .itemsWrapper{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
    }
    .itemTitle{
        text-align: center;
        margin: 4em;
        h2{
            padding-bottom: 0.4em;
        }
        }
    img{
        width: 10vw;
        height: 180px;
        height: auto;
        min-width: 120px;
    }
    .item{
        
        align-items: stretch;
        width: 20%;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 12px;
        padding: 0.5em 1em;
        h3,p{
            text-align: start;
            padding: 0.2em 0;

        }
        p{
            font-size: 0.9em;
        }

    }
    #section2{
        img{
            height: 10vw;
            width: 16vw;
            border-radius: 16px;
            padding: 6px;
            min-width: 180px;
            min-height: 120px;
        }
    }
    #section3{
        margin-bottom: 2em;
        img{
            height: 12vw;
            width: 24vw;
            border-radius: 16px;
            padding: 6px;
        }
        .item{
            width: 30%;
        }

    }
}

/* contact */
#LayoutWrapper{
    padding-top: 3em;
    margin-bottom: 5em;
    box-sizing: border-box;
    display: grid;
    gap: 1em;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 40%;
    grid-template-areas: 
    "contact info"
    "contact mapa";
    aside{
        grid-area: contact;
    }
    .informacioContacte{
        background-color: white;
        border-radius: 12px;
        width: 90%;
        padding: 2em;
        .info{
        padding: 0.5em;
        flex-direction: row;
        display: flex;
        
        }
        grid-area: info;
        h2{
            margin-bottom: 1em;
        }
        img{
            margin-right: 1.2em;
            width: 30px;
            height: 30px;
        }
    }
    iframe{
        grid-area: mapa;
        width: 90%;
        height: 45vh;
    }
    .form-header h1,.form-header p{
        padding: 0 0 2rem 2rem;
    }

    .contacte{
        padding: 0 0 2rem 2rem;
        margin-right: 10vw;

    }
    .entrada label{
        display: block;
        font-size: 14px;
        margin-bottom: 8px;
        margin-top: 14px;
    }
    .entrada input{
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    background-color: white;
    color: #333;
    outline: none;
    }

    .entrada textarea{
    width: 100%;
    height: 15vh;
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    background-color: white;
    color: #333;
    outline: none;
    }
    button{
        border: none;
        background-color: #053C55;
        color: white;
        font-weight: bold;
        height: 38px;
        width: 150px;
        border-radius: 12px;
        cursor: pointer;
        font-size: 1em;
        transition: background-color 0.3s ease, color 0.3s ease;
        margin-top: 3vh;
    }
    button:hover{
        background-color: #022B3A;
    }
}

/* pricing */


#titles{
    font-family: sans-serif;
    text-align: center;
    margin-top: 2%;
    #pricing-h2{
        font-size: 48px;
    }
    #pricing-h3{
        margin: 1% 25% 0 25%;
    }
}

#boxes-pricing{
    display: flex;
    justify-content: space-evenly;
    margin: 3% 12% 5% 12%;
    font-size: 11px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 9rem;
}
    #box1{
        border: solid rgba(2, 43, 58, 0.2) 2px;
        padding: 3% 2% 3% 2%;      
        border-radius: 10px;  
    }

    #box2{
        border: solid rgba(2, 43, 58, 0.8) 2px;
        padding: 3% 2% 3% 2%;
        border-radius: 10px;
    }

    #box3{
        border: solid rgba(2, 43, 58, 0.2) 2px;
        padding: 3% 2% 3% 2%;
        border-radius: 10px;
    }

    .price-month{
        font-size: 40px;
    }
    
    .month{
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    }

    .listas-pricing{
        list-style: none;
        font-size: 14px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        li{
            margin: 1em 0 1em 0;
        }
    }

    .buttons{
        
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 3% 10% 3% 10%;
        border: solid #82a9b7;
        border-radius: 4px;
        width: 100%;
        background-color: rgba(6, 83, 111, 0.5);
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    .buttons:hover{
        background-color: black;
        color: white;
    }

    #button-signature{
        background-color: rgba(2, 43, 58, 1);
        border: solid rgba(6, 83, 111, 0.5);
    }

    #button-signature:hover{
        background-color: rgba(6, 83, 111, 0.2);
        color: black;
    }